*{
  margin: 0;
  height:auto;
}  

body{
   background-image: url("./Pics/paper.gif");
}

/*Navigation bar stylesheet*/
nav{
   margin: 0;
   color: cadetblue;
   background-color: cadetblue;
   text-decoration: none;
   a{
       text-decoration: none;
   } 
}

li{ margin: 0;
   display: inline-block;
   padding: 20px;
}

a:visited{
   background-color: red;
   color: red;
}

a:link{
   color:red;

}

li:hover{
   background-color:green;
   a:hover{
   color:blue;}    
}

.active{
   background-color:aqua;
}

/*End of navigation css*/


/* beginning of img css */

img{
  height:700px;
  width: 50%;
  float: left;
}

@media screen and (max-width:480px) {

   img{
      height:900px;
      width: 100%;
      float: none;
    }


}


 /*end of img css */